In [1]:
#!pip3 install --upgrade --force-reinstall torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu117

In [2]:
#pip install -r requirements.txt

In [3]:
from data_util import get_data_from_kaggle,sentiment_analysis , aggregate_tweet, restructure_date_information
import pandas as pd

c:\Users\Luan\Documents\DL\TFT\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [4]:
stock, tweet = get_data_from_kaggle()

In [5]:
tweet

,Date,Tweet,Stock Name,Company Name
0,2022-09-29 23:41:16+00:00,Mainstream media has done an amazing job at br...,TSLA,"Tesla, Inc."
1,2022-09-29 23:24:43+00:00,Tesla delivery estimates are at around 364k fr...,TSLA,"Tesla, Inc."
2,2022-09-29 23:18:08+00:00,3/ Even if I include 63.0M unvested RSUs as of...,TSLA,"Tesla, Inc."
3,2022-09-29 22:40:07+00:00,@RealDanODowd @WholeMarsBlog @Tesla Hahaha why...,TSLA,"Tesla, Inc."
4,2022-09-29 22:27:05+00:00,"@RealDanODowd @Tesla Stop trying to kill kids,...",TSLA,"Tesla, Inc."
...,...,...,...,...
80788,2021-10-07 17:11:57+00:00,Some of the fastest growing tech stocks on the...,XPEV,XPeng Inc.
80789,2021-10-04 17:05:59+00:00,"With earnings on the horizon, here is a quick ...",XPEV,XPeng Inc.
80790,2021-10-01 04:43:41+00:00,Our record delivery results are a testimony of...,XPEV,XPeng Inc.
80791,2021-10-01 00:03:32+00:00,"We delivered 10,412 Smart EVs in Sep 2021, rea...",XPEV,XPeng Inc.
80792,2021-09-30 10:22:52+00:00,Why can XPeng P5 deliver outstanding performan...,XPEV,XPeng Inc.

In [6]:
stock, tweet = get_data_from_kaggle()

In [7]:
tweet = pd.read_csv('processed.csv')
tweet

,Unnamed: 0,Date,Tweet,Stock Name,Company Name,Positive,Neutral,Negative
0,0,2022-09-29 23:41:16+00:00,Mainstream media has done an amazing job at br...,TSLA,"Tesla, Inc.",0.528979,0.351032,0.119989
1,1,2022-09-29 23:24:43+00:00,Tesla delivery estimates are at around 364k fr...,TSLA,"Tesla, Inc.",0.012934,0.719147,0.267919
2,2,2022-09-29 23:18:08+00:00,3/ Even if I include 63.0M unvested RSUs as of...,TSLA,"Tesla, Inc.",0.098909,0.838153,0.062938
3,3,2022-09-29 22:40:07+00:00,@RealDanODowd @WholeMarsBlog @Tesla Hahaha why...,TSLA,"Tesla, Inc.",0.913476,0.075686,0.010838
4,4,2022-09-29 22:27:05+00:00,"@RealDanODowd @Tesla Stop trying to kill kids,...",TSLA,"Tesla, Inc.",0.971595,0.026244,0.002161
...,...,...,...,...,...,...,...,...
80788,80788,2021-10-07 17:11:57+00:00,Some of the fastest growing tech stocks on the...,XPEV,XPeng Inc.,0.001424,0.073376,0.925200
80789,80789,2021-10-04 17:05:59+00:00,"With earnings on the horizon, here is a quick ...",XPEV,XPeng Inc.,0.006404,0.497635,0.495962
80790,80790,2021-10-01 04:43:41+00:00,Our record delivery results are a testimony of...,XPEV,XPeng Inc.,0.002887,0.151392,0.845721
80791,80791,2021-10-01 00:03:32+00:00,"We delivered 10,412 Smart EVs in Sep 2021, rea...",XPEV,XPeng Inc.,0.001193,0.061854,0.936952
80792,80792,2021-09-30 10:22:52+00:00,Why can XPeng P5 deliver outstanding performan...,XPEV,XPeng Inc.,0.010640,0.252565,0.736795

In [8]:
aggregated_tweet = aggregate_tweet(tweet)
aggregated_tweet

,Stock Name,Date,Positive_Avg,Neutral_Avg,Negative_Avg,Positive_Count,Neutral_Count,Negative_Count
0,AAPL,2021-09-30,0.322527,0.465190,0.212283,3,4,0
1,AAPL,2021-10-01,0.063409,0.574801,0.361790,0,8,3
2,AAPL,2021-10-02,0.053914,0.569441,0.376645,0,2,2
3,AAPL,2021-10-03,0.365725,0.546062,0.088213,0,1,0
4,AAPL,2021-10-04,0.082445,0.740438,0.177116,0,10,0
...,...,...,...,...,...,...,...,...
5905,ZS,2022-09-18,0.002347,0.195517,0.802136,0,0,1
5906,ZS,2022-09-21,0.025520,0.272998,0.701482,0,0,1
5907,ZS,2022-09-27,0.060069,0.497830,0.442101,0,1,0
5908,ZS,2022-09-28,0.129386,0.716569,0.154045,0,1,0
5909,ZS,2022-09-29,0.004101,0.264248,0.731651,0,0,1

In [9]:
stock['Date'] = pd.to_datetime(stock['Date'] ).dt.date

In [19]:
merged_df = pd.merge(aggregated_tweet, stock, on=['Date', 'Stock Name'], how='right')
merged_df.fillna(0)

,Stock Name,Date,Positive_Avg,Neutral_Avg,Negative_Avg,Positive_Count,Neutral_Count,Negative_Count,Open,High,Low,Close,Adj Close,Volume
0,TSLA,2021-09-30,0.203316,0.434594,0.362089,19.0,44.0,27.0,260.333344,263.043335,258.333344,258.493347,258.493347,53868000
1,TSLA,2021-10-01,0.174110,0.419891,0.405999,14.0,43.0,37.0,259.466675,260.260010,254.529999,258.406677,258.406677,51094200
2,TSLA,2021-10-04,0.198824,0.475948,0.325228,25.0,60.0,34.0,265.500000,268.989990,258.706665,260.510010,260.510010,91449900
3,TSLA,2021-10-05,0.218515,0.412092,0.369393,19.0,38.0,31.0,261.600006,265.769989,258.066681,260.196655,260.196655,55297800
4,TSLA,2021-10-06,0.164362,0.437867,0.397771,10.0,39.0,29.0,258.733337,262.220001,257.739990,260.916656,260.916656,43898400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6295,XPEV,2022-09-23,0.000000,0.000000,0.000000,0.0,0.0,0.0,13.090000,13.892000,12.860000,13.710000,13.710000,28279600
6296,XPEV,2022-09-26,0.405118,0.451953,0.142929,0.0,1.0,0.0,14.280000,14.830000,14.070000,14.370000,14.370000,27891300
6297,XPEV,2022-09-27,0.000000,0.000000,0.000000,0.0,0.0,0.0,14.580000,14.800000,13.580000,13.710000,13.710000,21160800
6298,XPEV,2022-09-28,0.000000,0.000000,0.000000,0.0,0.0,0.0,13.050000,13.421000,12.690000,13.330000,13.330000,31799400
6299,XPEV,2022-09-29,0.000000,0.000000,0.000000,0.0,0.0,0.0,12.550000,12.850000,11.850000,12.110000,12.110000,33044800

In [11]:
processed_df = restructure_date_information(merged_df)
processed_df

,Stock Name,Positive_Avg,Neutral_Avg,Negative_Avg,Positive_Count,Neutral_Count,Negative_Count,Open,High,Low,Close,Adj Close,Volume,Month,Day,Day of The Week,Week of The Year
0,TSLA,0.203316,0.434594,0.362089,19.0,44.0,27.0,260.333344,263.043335,258.333344,258.493347,258.493347,53868000,9,30,3,39
1,TSLA,0.174110,0.419891,0.405999,14.0,43.0,37.0,259.466675,260.260010,254.529999,258.406677,258.406677,51094200,10,1,4,39
2,TSLA,0.198824,0.475948,0.325228,25.0,60.0,34.0,265.500000,268.989990,258.706665,260.510010,260.510010,91449900,10,4,0,40
3,TSLA,0.218515,0.412092,0.369393,19.0,38.0,31.0,261.600006,265.769989,258.066681,260.196655,260.196655,55297800,10,5,1,40
4,TSLA,0.164362,0.437867,0.397771,10.0,39.0,29.0,258.733337,262.220001,257.739990,260.916656,260.916656,43898400,10,6,2,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6295,XPEV,NaN,NaN,NaN,NaN,NaN,NaN,13.090000,13.892000,12.860000,13.710000,13.710000,28279600,9,23,4,38
6296,XPEV,0.405118,0.451953,0.142929,0.0,1.0,0.0,14.280000,14.830000,14.070000,14.370000,14.370000,27891300,9,26,0,39
6297,XPEV,NaN,NaN,NaN,NaN,NaN,NaN,14.580000,14.800000,13.580000,13.710000,13.710000,21160800,9,27,1,39
6298,XPEV,NaN,NaN,NaN,NaN,NaN,NaN,13.050000,13.421000,12.690000,13.330000,13.330000,31799400,9,28,2,39
6299,XPEV,NaN,NaN,NaN,NaN,NaN,NaN,12.550000,12.850000,11.850000,12.110000,12.110000,33044800,9,29,3,39

In [12]:
from data import TFT_Dataset
x = TFT_Dataset(df = processed_df, history_length= 3, prediction_length=2)

In [13]:
x = TFT_Dataset(df = processed_df)

In [14]:
_, h, f, p = x[0]

In [15]:
h

tensor([[ 0.3225,  0.4652,  0.2123,  ..., 30.0000,  3.0000, 39.0000],
        [ 0.0634,  0.5748,  0.3618,  ...,  1.0000,  4.0000, 39.0000],
        [ 0.0824,  0.7404,  0.1771,  ...,  4.0000,  0.0000, 40.0000],
        ...,
        [ 0.1784,  0.4915,  0.3301,  ...,  3.0000,  3.0000,  5.0000],
        [ 0.2069,  0.4475,  0.3456,  ...,  4.0000,  4.0000,  5.0000],
        [ 0.2594,  0.4869,  0.2536,  ...,  7.0000,  0.0000,  6.0000]])

In [16]:
f

tensor([[ 2,  8,  1,  6],
        [ 2,  9,  2,  6],
        [ 2, 10,  3,  6],
        [ 2, 11,  4,  6],
        [ 2, 14,  0,  7]])

In [17]:
p

tensor([174.8300, 176.2800, 172.1200, 168.6400, 168.8800])

In [18]:
for name in data.keys():
    print(name)

NameError: name 'data' is not defined

In [ ]:
test.to_list()

NameError: name 'test' is not defined

In [ ]:
test = merged_df.set_index(['Stock Name'])
x = test.to_dict(orient='dict')

In [ ]:
merged_df['Date'] = merged_df['Date'].timestamp()
x = merged_df.groupby('Stock Name').apply(lambda x: x.values.tolist() , include_groups=False).to_dict()
x

AttributeError: 'Series' object has no attribute 'timestamp'

In [ ]:
self.stock_data = {ticker: df.drop(columns=['ticker', 'date']).values for ticker, df in data.groupby('ticker')}

In [ ]:
daily_sentiment_summary = processed.groupby(['Stock Name', 'Date'])[['Positive', 'Neutral', 'Negative']].mean().reset_index()
daily_sentiment_summary

     Stock Name        Date  Positive   Neutral  Negative
0          AAPL  2021-09-30  0.322527  0.465190  0.212283
1          AAPL  2021-10-01  0.063409  0.574801  0.361790
2          AAPL  2021-10-02  0.053914  0.569441  0.376645
3          AAPL  2021-10-03  0.365725  0.546062  0.088213
4          AAPL  2021-10-04  0.082445  0.740438  0.177116
...         ...         ...       ...       ...       ...
5905         ZS  2022-09-18  0.002347  0.195517  0.802136
5906         ZS  2022-09-21  0.025520  0.272998  0.701482
5907         ZS  2022-09-27  0.060069  0.497830  0.442101
5908         ZS  2022-09-28  0.129386  0.716569  0.154045
5909         ZS  2022-09-29  0.004101  0.264248  0.731651

[5910 rows x 5 columns]

In [ ]:
daily_sentiment_summary = processed.groupby(['Stock Name', 'Date']).agg(
    Positive_Avg=('Positive', 'mean'),
    Neutral_Avg=('Neutral', 'mean'),
    Negative_Avg=('Negative', 'mean'),
    Positive_Count=('overal sentiment', lambda x: (x == 'Positive').sum()),
    Neutral_Count=('overal sentiment', lambda x: (x == 'Neutral').sum()),
    Negative_Count=('overal sentiment', lambda x: (x == 'Negative').sum())
).reset_index()

In [ ]:
stock

,Date,Open,High,Low,Close,Adj Close,Volume,Stock Name
0,2021-09-30,260.333344,263.043335,258.333344,258.493347,258.493347,53868000,TSLA
1,2021-10-01,259.466675,260.260010,254.529999,258.406677,258.406677,51094200,TSLA
2,2021-10-04,265.500000,268.989990,258.706665,260.510010,260.510010,91449900,TSLA
3,2021-10-05,261.600006,265.769989,258.066681,260.196655,260.196655,55297800,TSLA
4,2021-10-06,258.733337,262.220001,257.739990,260.916656,260.916656,43898400,TSLA
...,...,...,...,...,...,...,...,...
6295,2022-09-23,13.090000,13.892000,12.860000,13.710000,13.710000,28279600,XPEV
6296,2022-09-26,14.280000,14.830000,14.070000,14.370000,14.370000,27891300,XPEV
6297,2022-09-27,14.580000,14.800000,13.580000,13.710000,13.710000,21160800,XPEV
6298,2022-09-28,13.050000,13.421000,12.690000,13.330000,13.330000,31799400,XPEV
6299,2022-09-29,12.550000,12.850000,11.850000,12.110000,12.110000,33044800,XPEV

In [ ]:
daily_sentiment_summary

,Stock Name,Date,Positive_Avg,Neutral_Avg,Negative_Avg,Positive_Count,Neutral_Count,Negative_Count
0,AAPL,2021-09-30,0.322527,0.465190,0.212283,3,4,0
1,AAPL,2021-10-01,0.063409,0.574801,0.361790,0,8,3
2,AAPL,2021-10-02,0.053914,0.569441,0.376645,0,2,2
3,AAPL,2021-10-03,0.365725,0.546062,0.088213,0,1,0
4,AAPL,2021-10-04,0.082445,0.740438,0.177116,0,10,0
...,...,...,...,...,...,...,...,...
5905,ZS,2022-09-18,0.002347,0.195517,0.802136,0,0,1
5906,ZS,2022-09-21,0.025520,0.272998,0.701482,0,0,1
5907,ZS,2022-09-27,0.060069,0.497830,0.442101,0,1,0
5908,ZS,2022-09-28,0.129386,0.716569,0.154045,0,1,0
5909,ZS,2022-09-29,0.004101,0.264248,0.731651,0,0,1

In [ ]:
tweet['sentiment'] = sentiment

ValueError: Length of values (1) does not match length of index (80793)

In [ ]:
nvcc --version

NameError: name 'nvcc' is not defined

In [ ]:
torch.cuda.is_available()

True

In [ ]:
import torch

In [ ]:
stock_list = stock['Stock Name'].unique()

In [ ]:
ticker_data = {
            ticker: df.reset_index(drop=True) 
            for ticker, df in stock.groupby('Stock Name')
        }

In [ ]:
tweet

,Date,Tweet,Stock Name,Company Name
0,2022-09-29 23:41:16+00:00,Mainstream media has done an amazing job at br...,TSLA,"Tesla, Inc."
1,2022-09-29 23:24:43+00:00,Tesla delivery estimates are at around 364k fr...,TSLA,"Tesla, Inc."
2,2022-09-29 23:18:08+00:00,3/ Even if I include 63.0M unvested RSUs as of...,TSLA,"Tesla, Inc."
3,2022-09-29 22:40:07+00:00,@RealDanODowd @WholeMarsBlog @Tesla Hahaha why...,TSLA,"Tesla, Inc."
4,2022-09-29 22:27:05+00:00,"@RealDanODowd @Tesla Stop trying to kill kids,...",TSLA,"Tesla, Inc."
...,...,...,...,...
80788,2021-10-07 17:11:57+00:00,Some of the fastest growing tech stocks on the...,XPEV,XPeng Inc.
80789,2021-10-04 17:05:59+00:00,"With earnings on the horizon, here is a quick ...",XPEV,XPeng Inc.
80790,2021-10-01 04:43:41+00:00,Our record delivery results are a testimony of...,XPEV,XPeng Inc.
80791,2021-10-01 00:03:32+00:00,"We delivered 10,412 Smart EVs in Sep 2021, rea...",XPEV,XPeng Inc.
80792,2021-09-30 10:22:52+00:00,Why can XPeng P5 deliver outstanding performan...,XPEV,XPeng Inc.